<?xml version="1.0"?>
<config>
    <modules>
        <Queen_Rps>
            <version>0.1.0</version>
        </Queen_Rps>
    </modules>
    <global>
        <models>
            <queen_rps>
                <class>Queen_Rps_Model</class>
                <resourceModel>queen_rps_resource</resourceModel>
            </queen_rps>
            <queen_rps_resource>
                <class>Queen_Rps_Model_Resource</class>
                <entities>
                    <slider>
                        <table>queen_rps_slider</table>
                    </slider>
                </entities>
            </queen_rps_resource>
        </models>
        <blocks>
            <queen_rps>
                <class>Queen_Rps_Block</class>
            </queen_rps>
        </blocks>
        <helpers>
            <queen_rps>
                <class>Queen_Rps_Helper</class>
            </queen_rps>
        </helpers>
        <resources>
            <queen_rps_setup>
                <setup>
                    <module>Queen_Rps</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </queen_rps_setup>
            <queen_rps_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </queen_rps_read>
            <queen_rps_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </queen_rps_write>
        </resources>
    </global>
    <frontend>
        <routers>
            <rps>
                <use>standard</use>
                <args>
                    <module>Queen_Rps</module>
                    <frontName>rps</frontName>
                </args>
            </rps>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <queen_rps before="Mage_Adminhtml">Queen_Rps_Adminhtml</queen_rps>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <queen_rps>
                    <file>queen_rps.xml</file>
                </queen_rps>
            </updates>
        </layout>
    </adminhtml>
</config>